h1
    text-align: left
    font-family: $roboto    
    font-weight: 400
    font-size: 36px
    color: #a5bd98
.main-content
    margin: 0 7.6%
#profile-header
    max-height: none
#article
    font-family: $ubuntu
    font-size: 15px
    line-height: 1.625
    color: #373737
    margin: 10%
    .article-body-text-article
        table
            width: auto
        ul.desplugada-membros
            list-style: none
            li
                float: left
#article-header
    #article-sub-header
        display: none
    .publishing-info
        display: none
table
    &.cms-articles
        td:last-child
            width: 130px
